#button {
  margin: 3% 40%;
}

.modalWindows {
  width: 170px;
  margin: 5px auto;
  border: 5px solid greenyellow;
  border-width: 10px 20px;
  border-radius: 40px 20px;
  padding: 10px;
  display: inline-flex;
  transition: all 2s ease-in;
}

.modalWindows button {
  margin: auto;
}
